<!DOCTYPE HTML>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>{{.page_title}}</title>
</head>
<body>
    <h1>Hotmeals Participant Entry</h1>
	<section>
        <form id="log-service" method="post">
            <fieldset>
                <legend>Login Details</legend>
                    <div>
                        <label for="first-name">First Name:</label>
                        <input name="first-name" type="text" placeholder="" required autofocus>
                    </div>
                    <div>
                        <label for="last-name">Last Name:</label>
                        <input name="last-name" type="text" required>
                    </div>
                    <div>
                         <input name="log" type="submit" value="Log Meal">
                    </div>
            </fieldset>
        </form>
	<footer>
	</footer>
</body>
</html>
